# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r


# Header
language: r
sudo: true
cache: packages
latex: false

warnings_are_errors: false

r_packages:
  - covr
r_build_args: '--no-build-vignettes'
r_check_args: '--ignore-vignettes'

matrix:
  include:
  - r: 3.5.0
  - r: release

  allow_failures:
  #- r: 3.4.0

#  r_binary_packages:
#    - devtools
#    - rstan
#    - rstanarm
#    - RCurl
#    - dplyr
#    - glue
#    - magrittr
#    - stringi
#    - stringr
#    - munsell
#    - rlang
#    - reshape2
#    - scales
#    - tibble
#    - ggplot2
#    - StanHeaders
#    - Rcpp
#    - RcppEigen
#    - BH



# from https://discourse.mc-stan.org/t/building-rstanarm-like-packagee-on-travis-with-c-14/6054/10?
before_install:
  - mkdir -p ~/.R
  - echo "CXX14FLAGS=-O3 -mtune=native -march=native -Wno-unused-variable -Wno-unused-function  -Wno-macro-redefined" >> ~/.R/Makevars
  - echo "CXX14=g++ -std=c++1y -fPIC" >> ~/.R/Makevars

repos:
  CRAN: https://cloud.r-project.org
  ropensci: http://packages.ropensci.org





after_success:
  - Rscript -e "library(covr); codecov(line_exclusions = list('R/colorgorical.R'=135:163,
                                                              'R/corr_heat.R'=90:107,
                                                              'R/create_palette.R'=35:39,
                                                              'R/plot_coefs.R'=18:20,
                                                              'R/plot_gam_check.R'=c(103:110, 119:120, 167:169),
                                                              'R/plot_gam_2d.R'=c(154:156),
                                                              'R/color_contrast_checker.R'=65:70
                                                              ))"
